p.lead{
    font-family: 'Noto Serif', serif;
}

.jorge {
    background-color: rgb(248, 18, 18) !important;
}
body {
    background-color: rgb(228, 163, 163) !important;
}

.titulos{
    font-family: 'Baloo Bhaijaan', cursive;
    font-weight: normal;
    font-size: xx-large;
}

.card-text{
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: large;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
